---
import MainLayout from "../layouts/MainLayout.astro";

const headerTitle = "Shiro Store - Home";
const pageTitle = "Shiro Store - Home";
const lastUpdateYear = new Date().getFullYear();
const lastUpdateMonth = new Date().getMonth() + 1;

---

<MainLayout title={pageTitle}>

    <h1>{headerTitle}</h1>

    <p>Momento actual: {new Date().toLocaleTimeString()}</p>
    <p id="current-time">Momento actual real: {}</p>

    <script>
      // Client Only

      const currentTimePara = document.querySelector(
        "#current-time",
      ) as HTMLParagraphElement;

      currentTimePara.innerText = `Momento actual real: ${new Date().toLocaleTimeString()}`;
    </script>

</MainLayout>